<style>
.RatingBarWidget-prefix .RatingBarWidget .RatingBarWidget__inner {
    background: unset;
}
@media(max-width: 1123px) {
  .RatingBarWidget-prefix .u-marginTop--xxs * {
    display: inline-block;
  }
  .RatingBarWidget-prefix span:nth-child(n+2) {
    display: none;
  }
}
@media(max-width: 1172px) {
  .RatingBarWidget-prefix .u-marginTop--xxs * {
    display: inline-block;
  }
}
</style>
<div class="reviews-io-rating-bar-widget"
  widget-id="lA3XFLzE9ipuUMPH"
 data-store-name="excel-clothing"
 lang="en"
 ></div>
<script src='//widget.reviews.io/modern-widgets/rating-bar.js'></script>